:root {
  --black: #111;
  --white: #fff;
  --primary: #3a86ff;
  --gray: #f5f5f5;
}

/* HEADER BASE */
.h-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  padding: 0.7rem 0;

  background: transparent;
  transition: 0.3s ease-in-out;
}

/* Header when user scrolls */
.h-wrapper.scrolled {
  background: var(--black);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

.h-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo {
  transition: 0.3s ease;
  margin-left: 10px;
}
.logo:hover {
  transform: scale(1.05);
}

/* MENU STYLE */
.h-menu {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}

.h-menu button,
.h-menu a {
  background: none;
  border: none;
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;

  transition: 0.3s ease;
}

.h-menu button:hover,
.h-menu a:hover {
  color: var(--primary);
  transform: translateY(-2px);
}

/* CONTACT BUTTON */
.contact-btn {
  padding: 8px 18px;
  border: 1px solid var(--white);
  border-radius: 6px;
}

.contact-btn:hover {
  background: var(--primary);
  border-color: var(--primary);
  color: white !important;
}

/* MOBILE MENU ICON */
.menu-icon {
  display: none;
  color: var(--white);
  cursor: pointer;
}

/* RESPONSIVE MENU */
@media (max-width: 800px) {
  .menu-icon {
    display: block;
  }

  .h-menu {
    position: absolute;
    top: 4.5rem;
    right: -100%;
    background: white;
    color: black !important;

    flex-direction: column;
    align-items: flex-start;

    width: 230px;
    padding: 2rem;
    border-radius: 12px;

    gap: 1.2rem;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);

    transition: all 0.3s ease-in-out;
  }

  .h-menu button,
  .h-menu a {
    color: black;
    font-size: 1rem;
  }

  .contact-btn {
    border: 1px solid black;
    color: black !important;
  }
}
